allennlp==0.7.1
conllu==0.11
elmoformanylangs==0.0.2
future==0.17.1
h5py==2.9.0
matplotlib==2.2.3
nltk==3.4.5
numpy==1.15.4
numpydoc==0.8.0
overrides==1.9
regex==2018.11.22
scikit-learn==0.20.1
scipy==1.1.0
spacy==2.0.16
tensorboardX==1.2
termcolor==1.1.0
torch==0.4.1
tqdm==4.29.1